.reveal pre {
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

.reveal pre code {
    padding:0px;
}

/* highlight.js overrides */
.hljs {
    padding: 0px;
    background: none;
}

.reveal h1 {
    font-size: 3.0em;
    line-height: 1.2em;
}

.reveal .title {
    font-size: 3.0em;
    line-height: 1.2em;
}

.reveal .author {
    font-size: 1.5em;
    line-height: 0.9em;
}

.reveal ul {
    list-style-type: none;
    line-height: 1.5em;
    font-size: 120%;
}

.dim {
    opacity: 0.1;
}

#notes {
    width: 800px;
}

.reveal figcaption {
    font-size: 0.5em;
}
